@model TARge21House.Models.House.HouseDeleteViewModel

<h1>Delete</h1>

<div>
	<h4>House</h4>
	<hr />
	<dl class="row">
		<div class="form-group row">
			<label asp-for="Id" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Id)
		</div>

		<div class="form-group row">
			<label asp-for="MainColor" class="col-sm-2 col-form-label">Main Color</label>
			@Html.DisplayFor(model => model.MainColor)
		</div>

		<div class="form-group row">
			<label asp-for="RoofColor" class="col-sm-2 col-form-label">Roof Color</label>
			@Html.DisplayFor(model => model.RoofColor)
		</div>

		<div class="form-group row">
			<label asp-for="Stories" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Stories)
		</div>

		<div class="form-group row">
			<label asp-for="Bedrooms" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Bedrooms)
		</div>

		<div class="form-group row">
			<label asp-for="Bathrooms" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Bathrooms)
		</div>

		<div class="form-group row">
			<label asp-for="RentPrice" class="col-sm-2 col-form-label">Rent Price</label>
			@Html.DisplayFor(model => model.RentPrice)
		</div>

		<div class="form-group row">
			<label asp-for="PurchasePrice" class="col-sm-2 col-form-label">Purchase Price</label>
			@Html.DisplayFor(model => model.PurchasePrice)
		</div>

		<div class="form-group row">
			<label asp-for="BuiltDate" class="col-sm-2 col-form-label">Built Date</label>
			@Html.DisplayFor(model => model.BuiltDate)
		</div>

		<div class="form-group row">
			<label asp-for="CreatedAt" class="col-sm-2 col-form-label">Created At</label>
			@Html.DisplayFor(model => model.CreatedAt)
		</div>

		<div class="form-group row">
			<label asp-for="ModifiedAt" class="col-sm-2 col-form-label">Modified At</label>
			@Html.DisplayFor(model => model.ModifiedAt)
		</div>
	</dl>

	<form asp-action="DeleteConfirm">
		<input type="hidden" asp-for="Id"/>
		<input type="submit" value="Delete" class="btn btn-danger" />

		<a asp-action="index" asp-controller="houses" class="btn btn-success">Back</a>
	</form>
</div>